@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ql-show {
    &.ql-container,
    &.ql-toolbar {
      @apply border-slate-200;
    }
  }
}

.ql-editor {
  min-height: 300px;

  img {
    display: inline-block;
  }
}

.ql-snow {
  font-size: 1.25rem !important;

  &.ql-toolbar {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &.ql-container {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

}